* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 10vh;
}
main{
    height:  auto;
    min-height: 80vh;
    padding: 1rem;
}
footer{
    height: 10vh;
    background-color: darkslategrey;
    color: white;
    padding: 1rem;
}

.usrInfo{
    font-weight: bold;
}

#price p{
    font-weight: bold;
}

#frmUserData  {
    width: 20%;
    display: flex;
    flex-direction: column;    
}

#frmUserData  input {
    margin-bottom: 10px;
}

#btnLogin{
    width: 30%;
}

#services {
    display: none;
}

#frmSoftwareParameters{
    display: none;
    width: 70%;
    padding:30px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
}

#frmSoftwareParameters input{
    margin: 10px;
    width: 70%;
    height: 50px;
    border-bottom: darkgray solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.frmSoftwareParameters__btnContainer{
    display: flex;
    flex-direction: row;
   
   
}

.frmSoftwareParameters__lblError{
    color:red;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

#frmAuditParameters{
    display: none;
    width: 70%;
    padding:30px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
}

#frmAuditParameters input{
    margin: 10px;
    width: 70%;
    height: 50px;
    border-bottom: darkgray solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.frmAuditParameters__btnContainer{
    display: flex;
    flex-direction: row;
}

.frmAuditParameters__lblError{
    color:red;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

#frmConsultantParameters{
    display: none;
    width: 70%;
    padding:30px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
}


#frmConsultantParameters input{
    margin: 10px;
    width: 70%;
    height: 50px;
    border-bottom: darkgray solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.frmconsultantParameters__btnContainer{
    display: flex;
    flex-direction: row;
}

.frmConsultantParameters__lblError{
    color:red;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}


/* Modal Styles */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


.frmUserData  {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.frmUserData  input {
    margin-bottom: 10px;
}

.btnLoginRegister{
    width: 30%;
}

i {
    font-size: 50px;
    color: orange;
}

.card{
    text-align: center;
    align-items: center;
    display: block;
    width: 300px;
    margin:30px;
}

.card-title{
    font-weight: bold;
}

.btn{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}   

.services__container{
    display: block;
}

.services__container__card{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}

.references_details{
    color:rgb(190, 122, 4);
    width: 100%;
    margin-bottom: 10px;
}

#softwareReferences{
    display: none;
}
