* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 10vh;
}
main{
    height:  auto;
    min-height: 80vh;
    padding: 1rem;
}
footer{
    height: 10vh;
    background-color: darkslategrey;
    color: white;
    padding: 1rem;
}

.usrInfo{
    font-weight: bold;
}

#price p{
    font-weight: bold;
}

#frmUserData  {
    width: 20%;
    display: flex;
    flex-direction: column;    
}

#frmUserData  input {
    margin-bottom: 10px;
}

#btnLogin{
    width: 30%;
}

#services {
    display: none;
}

#services input {
    height: 100px;
    width: 350px;
    margin: 2rem;
    background-color: rgb(248, 157, 29);
    border: none;
    font-size: 1.5em;
    color: rgb(71, 71, 71);
    border-radius: 3px;
}

#frmSoftwareParameters{
    display: none;
    width: 20%;
    border: solid 1px rgb(248, 157, 29); 
    border-radius: 5px;
    text-align: center;
}

#frmSoftwareParameters input{
    margin: 10px;
}

.frmSoftwareParameters__btnContainer{
    display: flex;
    flex-direction: row;
   align-items: center;
   
}

.frmSoftwareParameters__lblError{
    color:red;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}


/* Modal Styles */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


.frmUserData  {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.frmUserData  input {
    margin-bottom: 10px;
}

.btnLoginRegister{
    width: 30%;
}